ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    left: 850px;
    bottom: 45px;
    z-index: 1;
  }

li {
    display: inline;
}

a {
    padding: 8px;
    font-size: 30px;
    padding-right: 14px;
    color: white;
    text-decoration: none;
  }

#unit {
    position: relative;
    padding: 75px;
    bottom: 250px;
}

header {
    position: relative;
    font-size: 50px;
    left: 150px;
    z-index: 1;
    color: white;
}

#backStrip {
    position: relative;
    padding: 0px;
    right: 10px;
    bottom: 100px;
    z-index: 0;
    margin: 0px;
}